<div class="reviews-section">
  <section class="container container--large yotpo-slider">
    <div class="avg-review-stars"></div>
    <h2><span class="num-reviews"></span> Customer Reviews</h2>
      <div class="write-review-btn-wrap">
        <button class="write-review button button--black">Write A Review</button>
      </div>
      <div class="write-review-form">
        <form action="/" method="post" accept-charset="utf-8" target="_blank" id="writeReview">
          <input type="hidden" name="product_id" value="{{ product.id }}">
          <input type="hidden" name="product_title" value="{{ product.title }}">
          <label>Rating</label>
          <div class="star-score-wrap">
            <span class="star-score" data-score="1"><i class="fa fa-star-o" aria-hidden="true"></i></span>
            <span class="star-score" data-score="2"><i class="fa fa-star-o" aria-hidden="true"></i></span>
            <span class="star-score" data-score="3"><i class="fa fa-star-o" aria-hidden="true"></i></span>
            <span class="star-score" data-score="4"><i class="fa fa-star-o" aria-hidden="true"></i></span>
            <span class="star-score" data-score="5"><i class="fa fa-star-o" aria-hidden="true"></i></span>
          </div>
          <input type="hidden" value="{{ shop.url }}" name="shop" id="shop_url">
          <input type="hidden" value="" name="review_score" id="review_score">
          <label for="review_title">Title</label>
          <input type="text" name="review_title">
          <label for="review_content">Review</label>
          <textarea name="review_content"></textarea>
          <label for="display_name">Your Name</label>
          <input type="text" name="display_name">
          <label for="email">Email</label>
          <input type="email" name="email">
          <input type="hidden" name="product_image_url" value="{{ product.featured_image | product_img_url }}">
          <input type="hidden" name="product_description" value="{{ product.description  |  strip_html }}">
          <div class="write-review-btn-wrap">
              <button class="button button--black" type="submit">Submit</button>
          </div>  
        </form>
      </div>
    <div class="all-reviews-entry-point"></div>
  </section>
</div>
<script>
  window.yotpoApp = { 
    "productId": "{{ product.id }}",
    "productTitle": "{{ product.title }}",
    "reviewsEntryPoint": ".all-reviews-entry-point",
    "avgRatingEntryPoint": ".avg-review-stars",
    "herokuAppName": "sample-client-app"
 };
</script>
